My workflow11_MultiAgent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        300,
        300
      ],
      "id": "977a7ad5-188f-4078-9185-96a33329eb0d",
      "name": "Webhook",
      "webhookId": "d88a6b11-713c-4d3b-81db-9d82430a3447"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "systemMessage": "Bạn là Quản Đốc (Supervisor) của ứng dụng Tài chính. Nhiệm vụ duy nhất của bạn là phân loại ý đồ của tin nhắn người dùng:\n- Nếu tin nhắn ra lệnh ghi chép mua sắm, nhận tiền, đổ xăng, đóng tiền điện (vd: 'Tôi vừa ăn phở 50k', 'Nhận lương 10tr') -> CHỌN 'insert'.\n- Nếu tin nhắn yêu cầu phân tích, hỏi đáp, dự đoán, xin lời khuyên tài chính, hoặc tính tổng (vd: 'Tháng này tiêu bao nhiêu', 'Làm sao để tiết kiệm', 'Phân tích chi tiêu') -> CHỌN 'analyze'.\n- Nếu là câu chào (vd 'hello', 'chào') -> CHỌN 'analyze'."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        700,
        300
      ],
      "id": "supervisor-chain-id",
      "name": "Supervisor Router"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"route\":{\"type\":\"string\",\"enum\":[\"insert\",\"analyze\"],\"description\":\"Luồng tiếp theo để xử lý\"}},\"required\":[\"route\"]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        700,
        450
      ],
      "id": "supervisor-parser-id",
      "name": "Router Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "id": "supervisor-groq-id",
      "name": "Supervisor Groq",
      "credentials": {
        "groqApi": {
          "id": "Hf67AO6LALmrE0yi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.output.route }}",
              "rightValue": "insert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.output.route }}",
              "rightValue": "analyze",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1000,
        300
      ],
      "id": "switch-id",
      "name": "Switch Router"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.message }}",
        "hasOutputParser": true,
        "systemMessage": "Bạn là Thư ký Nhập liệu (Data Clerk). Hãy bóc tách giao dịch từ tin nhắn. Không cần quan tâm tới phân tích. Chỉ trả về JSON."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1400,
        100
      ],
      "id": "clerk-chain-id",
      "name": "Data Clerk"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"isValid\":{\"type\":\"boolean\",\"description\":\"true nếu đây là giao dịch tài chính hợp lệ\"},\"isExpense\":{\"type\":\"boolean\",\"description\":\"true nếu là chi tiêu, false nếu là thu nhập\"},\"amount\":{\"type\":\"number\",\"description\":\"Số tiền, luôn dương\"},\"categoryName\":{\"type\":\"string\",\"enum\":[\"Food\",\"Transport\",\"Shopping\",\"Bills\",\"Salary\",\"Invest\",\"Rent\",\"Other\"],\"description\":\"Hạng mục giao dịch\"},\"note\":{\"type\":\"string\",\"description\":\"Tóm tắt nhanh bằng tiếng Việt\"},\"replyMessage\":{\"type\":\"string\",\"description\":\"Câu trả lời ngắn gọn cho người dùng\"}},\"required\":[\"isValid\",\"replyMessage\"]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1400,
        250
      ],
      "id": "f4d3f188-1be3-4338-a360-28ad6ab43224",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2000,
        100
      ],
      "id": "d04955fe-7ea6-4342-927b-d04c1cef5493",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Hf67AO6LALmrE0yi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Cướp toàn bộ dữ liệu của Não AI đẩy xuống\nconst data = $input.first().json.output;\n\n// 1. Chế tạo 1 cái máy nặn UUID thủ công bằng Toán Học (Lách luật chặn Crypto)\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// 2. Map Icon ngẫu nhiên để không bị App Crash\nconst iconMap = { 'Food': 0xe56c, 'Transport': 0xe1d4, 'Shopping': 0xf4d8, 'Bills': 0xef63, 'Salary': 0xe917, 'Invest': 0xe6e1, 'Rent': 0xf521, 'Other': 0xe838 };\nconst colorMap = { 'Food': 0xFFFF5722, 'Transport': 0xFF2196F3, 'Shopping': 0xFFE91E63, 'Bills': 0xFF9C27B0, 'Salary': 0xFF4CAF50, 'Invest': 0xFF009688, 'Rent': 0xFF3F51B5, 'Other': 0xFF9E9E9E };\nconst cat = data.categoryName || 'Other';\nconst now = new Date().toISOString();\n\n// Gom trọn gói đầy đủ gửi cho Supabase\nreturn [{\n  json: {\n    sync_id:              uuid(),  // Gọi hàm sinh mã \n    amount:               data.amount,\n    is_expense:           data.isExpense,\n    category_name:        cat,\n    category_icon_code:   iconMap[cat] || iconMap['Other'],\n    category_color_hex:   colorMap[cat] || colorMap['Other'],\n    note:                 data.note || null,\n    date:                 now,\n    updated_at:           now,\n    is_synced:            true,\n    is_deleted:           false,\n    replyMessage:         data.replyMessage,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        100
      ],
      "id": "928052d6-ec56-4b4f-9493-21caa7af6ef6",
      "name": "Prepare Payload"
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sync_id",
              "fieldValue": "={{ $json.sync_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.amount }}"
            },
            {
              "fieldId": "is_expense",
              "fieldValue": "={{ $json.is_expense }}"
            },
            {
              "fieldId": "category_name",
              "fieldValue": "={{ $json.category_name }}"
            },
            {
              "fieldId": "category_icon_code",
              "fieldValue": "={{ $json.category_icon_code }}"
            },
            {
              "fieldId": "category_color_hex",
              "fieldValue": "={{ $json.category_color_hex }}"
            },
            {
              "fieldId": "note",
              "fieldValue": "={{ $json.note }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "is_synced",
              "fieldValue": "={{ $json.is_synced }}"
            },
            {
              "fieldId": "is_deleted",
              "fieldValue": "={{ $json.is_deleted }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        100
      ],
      "id": "0d075ad2-fedb-4521-a498-b8aca3ff6b10",
      "name": "Insert to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "1QyRgWxZJksBNnW5",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"replyMessage\": \"{{ $('Prepare Payload').item.json.replyMessage }}\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2300,
        100
      ],
      "id": "respond-insert-id",
      "name": "Respond Webhook (Inserted)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Dữ liệu 100 giao dịch:\n{{ $('Webhook').item.json.body.history }}\n\nCâu hỏi/Yêu cầu: {{ $('Webhook').item.json.body.message }}",
        "hasOutputParser": false,
        "systemMessage": "Bạn là Chuyên gia Tài chính cấp cao (Senior Financial Analyst). Nhiệm vụ của bạn là đọc Dữ liệu lịch sử (100 giao dịch gần nhất) và Phân tích, cho lời khuyên, tính tổng số tiền hoặc trả lời câu hỏi của người dùng.\nHãy sử dụng giọng điệu chuyên nghiệp, markdown gọn gàng. Cắt giảm chi tiêu nếu cần thiết."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1400,
        500
      ],
      "id": "analyst-chain-id",
      "name": "Financial Analyst"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2000,
        600
      ],
      "id": "analyst-groq-id",
      "name": "Analyst Groq",
      "credentials": {
        "groqApi": {
          "id": "Hf67AO6LALmrE0yi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"replyMessage\": \"{{ $json.text }}\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1800,
        500
      ],
      "id": "respond-analyze-id",
      "name": "Respond Webhook (Analysis)"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supervisor Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Groq": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Router",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Router Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Supervisor Router",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Router": {
      "main": [
        [
          {
            "node": "Switch Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Router": {
      "main": [
        [
          {
            "node": "Data Clerk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Financial Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Data Clerk",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Data Clerk",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Data Clerk": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Supabase": {
      "main": [
        [
          {
            "node": "Respond Webhook (Inserted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Groq": {
      "ai_languageModel": [
        [
          {
            "node": "Financial Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Financial Analyst": {
      "main": [
        [
          {
            "node": "Respond Webhook (Analysis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "db785967-439b-4afa-a783-59d5da17add5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "758b39c123aa29be1532b2db0760ab5b211a073b3cf32f37c7a3192bafacde50"
  },
  "id": "CBnwX1C5vjFqaCyn",
  "tags": []
}