My workflow11.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3584,
        336
      ],
      "id": "977a7ad5-188f-4078-9185-96a33329eb0d",
      "name": "Webhook",
      "webhookId": "d88a6b11-713c-4d3b-81db-9d82430a3447"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3760,
        320
      ],
      "id": "d589bbdb-8b71-4be0-bb45-3a68d259c15e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"replyMessage\": \"{{ $('Prepare Payload').item.json.replyMessage }}\"\n}\n",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4624,
        320
      ],
      "id": "3e6f8e84-5abf-411a-8e01-920d77e645ca",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Cướp toàn bộ dữ liệu của Não AI đẩy xuống\nconst data = $input.first().json.output;\n\n// 1. Chế tạo 1 cái máy nặn UUID thủ công bằng Toán Học (Lách luật chặn Crypto)\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// 2. Map Icon ngẫu nhiên để không bị App Crash\nconst iconMap = { 'Food': 0xe56c, 'Transport': 0xe1d4, 'Shopping': 0xf4d8, 'Bills': 0xef63, 'Salary': 0xe917, 'Invest': 0xe6e1, 'Rent': 0xf521, 'Other': 0xe838 };\nconst colorMap = { 'Food': 0xFFFF5722, 'Transport': 0xFF2196F3, 'Shopping': 0xFFE91E63, 'Bills': 0xFF9C27B0, 'Salary': 0xFF4CAF50, 'Invest': 0xFF009688, 'Rent': 0xFF3F51B5, 'Other': 0xFF9E9E9E };\nconst cat = data.categoryName || 'Other';\nconst now = new Date().toISOString();\n\n// Gom trọn gói đầy đủ gửi cho Supabase\nreturn [{\n  json: {\n    sync_id:              uuid(),  // Gọi hàm sinh mã \n    amount:               data.amount,\n    is_expense:           data.isExpense,\n    category_name:        cat,\n    category_icon_code:   iconMap[cat] || iconMap['Other'],\n    category_color_hex:   colorMap[cat] || colorMap['Other'],\n    note:                 data.note || null,\n    date:                 now,\n    updated_at:           now,\n    is_synced:            true,\n    is_deleted:           false,\n    replyMessage:         data.replyMessage,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        320
      ],
      "id": "928052d6-ec56-4b4f-9493-21caa7af6ef6",
      "name": "Prepare Payload"
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sync_id",
              "fieldValue": "={{ $json.sync_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.amount }}"
            },
            {
              "fieldId": "is_expense",
              "fieldValue": "={{ $json.is_expense }}"
            },
            {
              "fieldId": "category_name",
              "fieldValue": "={{ $json.category_name }}"
            },
            {
              "fieldId": "category_icon_code",
              "fieldValue": "={{ $json.category_icon_code }}"
            },
            {
              "fieldId": "category_color_hex",
              "fieldValue": "={{ $json.category_color_hex }}"
            },
            {
              "fieldId": "note",
              "fieldValue": "={{ $json.note }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "is_synced",
              "fieldValue": "={{ $json.is_synced }}"
            },
            {
              "fieldId": "is_deleted",
              "fieldValue": "={{ $json.is_deleted }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4432,
        320
      ],
      "id": "0d075ad2-fedb-4521-a498-b8aca3ff6b10",
      "name": "Insert to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "1QyRgWxZJksBNnW5",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"isValid\":{\"type\":\"boolean\",\"description\":\"true nếu đây là giao dịch tài chính hợp lệ\"},\"isExpense\":{\"type\":\"boolean\",\"description\":\"true nếu là chi tiêu, false nếu là thu nhập\"},\"amount\":{\"type\":\"number\",\"description\":\"Số tiền, luôn dương\"},\"categoryName\":{\"type\":\"string\",\"enum\":[\"Food\",\"Transport\",\"Shopping\",\"Bills\",\"Salary\",\"Invest\",\"Rent\",\"Other\"],\"description\":\"Hạng mục giao dịch\"},\"note\":{\"type\":\"string\",\"description\":\"Tóm tắt nhanh bằng tiếng Việt\"},\"replyMessage\":{\"type\":\"string\",\"description\":\"Câu trả lời ngắn gọn cho người dùng\"}},\"required\":[\"isValid\",\"replyMessage\"]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3936,
        528
      ],
      "id": "f4d3f188-1be3-4338-a360-28ad6ab43224",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3616,
        528
      ],
      "id": "d04955fe-7ea6-4342-927b-d04c1cef5493",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Hf67AO6LALmrE0yi",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "db785967-439b-4afa-a783-59d5da17add5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "758b39c123aa29be1532b2db0760ab5b211a073b3cf32f37c7a3192bafacde50"
  },
  "id": "CBnwX1C5vjFqaCyn",
  "tags": []
}