Tool_GhiChep.json
{
  "name": "Tool_GhiChep",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"user_id\": \"Mã của người dùng\",\n  \"amount\": 50000,\n  \"isExpense\": true,\n  \"categoryName\": \"Food\",\n  \"note\": \"ăn phở\",\n  \"replyMessage\": \"Đã ghi nhận chi tiêu\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3a5be84d-9ff5-42d6-9784-0aca1d2788d0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// lấy toàn bộ dữ liệu của Não AI đẩy xuống\nconst data = $input.first().json;\n\n// Chế tạo 1 cái máy nặn UUID thủ công bằng Toán Học (Lách luật chặn Crypto)\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// Map Icon ngẫu nhiên để không bị App Crash\nconst iconMap = { 'Food': 0xe56c, 'Transport': 0xe1d4, 'Shopping': 0xf4d8, 'Bills': 0xef63, 'Salary': 0xe917, 'Invest': 0xe6e1, 'Rent': 0xf521, 'Other': 0xe838 };\nconst colorMap = { 'Food': 0xFFFF5722, 'Transport': 0xFF2196F3, 'Shopping': 0xFFE91E63, 'Bills': 0xFF9C27B0, 'Salary': 0xFF4CAF50, 'Invest': 0xFF009688, 'Rent': 0xFF3F51B5, 'Other': 0xFF9E9E9E };\nconst cat = data.categoryName || 'Other';\nconst now = new Date().toISOString();\n\n// Gom trọn gói đầy đủ gửi cho Supabase\nreturn [{\n  json: {\n    sync_id:              uuid(),  // Gọi hàm sinh mã \n    user_id:              data.user_id, // thêm dòng này để hứng id do AI Agent truyền vào\n    amount:               data.amount,\n    is_expense:           data.isExpense,\n    category_name:        cat,\n    category_icon_code:   iconMap[cat] || iconMap['Other'],\n    category_color_hex:   colorMap[cat] || colorMap['Other'],\n    note:                 data.note || null,\n    date:                 now,\n    updated_at:           now,\n    is_synced:            true,\n    is_deleted:           false,\n    replyMessage:         data.replyMessage,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "4e7c8ffc-cca9-40e7-83f6-5e7f1f16a87b",
      "name": "Prepare Payload"
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sync_id",
              "fieldValue": "={{ $json.sync_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.amount }}"
            },
            {
              "fieldId": "is_expense",
              "fieldValue": "={{ $json.is_expense }}"
            },
            {
              "fieldId": "category_name",
              "fieldValue": "={{ $json.category_name }}"
            },
            {
              "fieldId": "category_icon_code",
              "fieldValue": "={{ $json.category_icon_code }}"
            },
            {
              "fieldId": "category_color_hex",
              "fieldValue": "={{ $json.category_color_hex }}"
            },
            {
              "fieldId": "note",
              "fieldValue": "={{ $json.note }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "is_synced",
              "fieldValue": "={{ $json.is_synced }}"
            },
            {
              "fieldId": "is_deleted",
              "fieldValue": "={{ $json.is_deleted }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "4b41820f-3b5d-4bb7-ab68-0eed4a812887",
      "name": "Insert to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "t00zNFumSwrIhjXM",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "29762fd0-c994-4560-8849-0cb40e3d6721",
  "meta": {
    "instanceId": "57cff41fcd42a452a4a9eaa9b15d02066c2fe92dbf30cb56f03ed8d97c0911a4"
  },
  "id": "PB7LOLfN6CDlNfNm",
  "tags": []
}