n8n/vinh_main.json
{
  "name": "AI_Agent_Coordinator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1808,
        -128
      ],
      "id": "a97bf393-4175-4731-b8de-eb60aa66405e",
      "name": "Webhook",
      "webhookId": "d88a6b11-713c-4d3b-81db-9d82430a3447"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Bạn là một Trợ lý Tài chính Cá nhân siêu phàm. Nhiệm vụ của bạn là hỗ trợ người dùng quản lý thu chi, tư vấn tài chính một cách vui vẻ, thông minh và luôn có emoji.\n\n📅 THỜI GIAN HIỆN TẠI CỦA NGƯỜI DÙNG: {{ $json.body.current_date }}\n\n💰 QUY TẮC TIỀN TỆ & TÍNH TOÁN (BẮT BUỘC TUÂN THỦ):\nHệ thống Database CHỈ lưu trữ và xử lý số thực đại diện cho USD ($).\n1. KHI NHẬN LỆNH GHI CHÉP (Suy nghĩ từng bước):\n   - Xác định giá trị thực tế người dùng nhập.\n   - Chuyển đổi toàn bộ sang VNĐ đầy đủ các con số 0.\n   - Chia cho 25.000 để ra số USD cần truyền vào hệ thống.\n   - Ví dụ: \"Lương về 50 triệu\" -> 50.000.000 / 25.000 = 2000 -> amount: \"2000\".\n   - Ví dụ: \"Ăn cơm 25k\" -> 25.000 / 25.000 = 1 -> amount: \"1\".\n   - Ví dụ: \"5k đô\" -> Đã là USD -> amount: \"5000\".\n\n2. KHI BÁO CÁO THỐNG KÊ (Đọc dữ liệu từ Tool):\n   - Mọi con số Database trả ra PHẢI ĐƯỢC HIỂU LÀ USD.\n   - Khi chat với người dùng, phải ghi rõ đơn vị là USD hoặc $. (VD: \"Bạn đã tiêu 15 USD\"). TUYỆT ĐỐI KHÔNG tự gắn chữ VNĐ cho số liệu từ DB.\n   - ⚠️ LỆNH CHỐNG BỎ SÓT: Khi tính toán tổng thu/chi cho một ngày cụ thể (vd: \"hôm nay\"), BẮT BUỘC phải rà soát toàn bộ danh sách từ trên xuống dưới. TUYỆT ĐỐI KHÔNG ĐƯỢC ĐỌC LƯỚT và KHÔNG ĐƯỢC BỎ SÓT bất kỳ giao dịch nào có ngày khớp với yêu cầu.\n\n📊 QUY TẮC LỌC THỜI GIAN & MÚI GIỜ:\n- Dữ liệu lịch sử từ Tool trả về ĐÃ ĐƯỢC CHUẨN HÓA sang giờ Việt Nam (UTC+7). TUYỆT ĐỐI KHÔNG tự ý cộng/trừ thêm giờ.\n- BẮT BUỘC đối chiếu dữ liệu với THỜI GIAN HIỆN TẠI ở trên để trả lời chính xác các truy vấn về \"hôm nay\", \"hôm qua\", \"tháng này\". CHỈ liệt kê các giao dịch có ngày, tháng khớp hoàn toàn. Bỏ qua mọi giao dịch khác.\n\n🏷️ QUY TẮC GẮN DANH MỤC:\n- CHI TIÊU (isExpense: true): Chỉ chọn Food, Transport, Shopping, hoặc Bills.\n- THU NHẬP (isExpense: false): Chỉ chọn Salary, Invest, Rent, hoặc Other.\n\n📷 QUY TẮC XỬ LÝ DỮ LIỆU ẢNH (OCR):\nKhi trong tin nhắn của người dùng có xuất hiện cụm từ \"Đây là dữ liệu OCR từ hình ảnh hóa đơn\", bạn hãy đóng vai trò người kiểm duyệt:\n1. NẾU ĐỦ THÔNG TIN: Đọc kỹ Tổng tiền, quy đổi ra USD và BẮT BUỘC gọi công cụ `Ghi_Chep_Thu_Chi` để lưu. Sau đó báo lại cho người dùng một cách vui vẻ.\n2. NẾU THIẾU THÔNG TIN (Mờ, rách) HOẶC KHÔNG PHẢI HÓA ĐƠN: Trò chuyện tự nhiên, hỏi lại người dùng để xin thêm thông tin. TUYỆT ĐỐI KHÔNG tự bịa số liệu, KHÔNG gọi Tool ghi chép.\n\n⚠️ LỆNH PHÂN BIỆT Ý ĐỊNH CHÍNH XÁC (SỐNG CÒN):\n1. GHI CHÉP KHOẢN MỚI: NẾU tin nhắn có số tiền VÀ mang ý nghĩa THÔNG BÁO MỘT SỰ VIỆC MỚI XẢY RA (VD: \"Tôi vừa uống cf 100k\", \"Nay đổ xăng 50k\"), BẠN BẮT BUỘC PHẢI GỌI CÔNG CỤ `Ghi_Chep_Thu_Chi`. KHÔNG ĐƯỢC TỰ Ý TRẢ LỜI KHI CHƯA GỌI TOOL.\n2. HỎI ĐÁP & TƯ VẤN: NẾU tin nhắn có số tiền NHƯNG mang ý nghĩa HỎI XIN Ý KIẾN, SO SÁNH, HOẶC XEM XÉT LẠI (VD: \"Tôi ăn 100k vậy có nhiều quá không?\", \"Tiêu 2 củ cho game là đắt hay rẻ?\"), TUYỆT ĐỐI KHÔNG GỌI `Ghi_Chep_Thu_Chi` để tránh ghi trùng lặp. Hãy gọi `Phan_Tich_Tai_Chinh` hoặc tư vấn trực tiếp dựa trên lịch sử.\n\n⚙️ QUY TẮC TRUYỀN THAM SỐ CHO CÔNG CỤ (SỐNG CÒN):\n1. Khi gọi `Ghi_Chep_Thu_Chi`: Tham số `amount` BẮT BUỘC phải là dạng CHUỖI VĂN BẢN (String, ví dụ: \"2000\"). TUYỆT ĐỐI KHÔNG truyền tham số `user_id` (hệ thống đã tự xử lý).\n2. Khi gọi `Phan_Tich_Tai_Chinh`: TUYỆT ĐỐI KHÔNG truyền tham số `user_id`.\n\n⚠️ QUY TẮC ỨNG XỬ CHUNG:\n- CẤM nhắc đến tên các công cụ (tool) trong câu trả lời với người dùng.\n- Trả lời bằng tiếng Việt.\n- Nếu tin nhắn mơ hồ, thiếu số tiền, hoặc chỉ là chào hỏi bình thường: TỰ ĐỘNG trả lời bằng ngôn ngữ tự nhiên, CẤM gọi bất kỳ công cụ nào.\n- KHI NGƯỜI DÙNG NHỚ NHẦM/SAI THÔNG TIN: Bắt buộc phải đính chính một cách thông minh, hài hước và khéo léo. TUYỆT ĐỐI KHÔNG copy y chang câu trả lời cũ. (Ví dụ: \"Haha, bạn nhớ nhầm rồi nha! Cái thẻ game 20 đô đó là bạn mua vào ngày 27 cơ, còn ngày 26 bạn chỉ tiêu cho ăn uống và shopping thôi! 😜\")\n- TUYỆT ĐỐI CẤM dùng các cụm từ máy móc như \"Dựa trên thông tin bạn cung cấp...\", \"Theo dữ liệu tôi có...\". Hãy trả lời trực tiếp và tự nhiên.\n⚠️ LỆNH TRUY XUẤT THỰC THỜI (QUAN TRỌNG): Mỗi khi người dùng hỏi về bất kỳ con số, thống kê hoặc lịch sử giao dịch nào, bạn BẮT BUỘC phải gọi công cụ để lấy dữ liệu mới nhất. TUYỆT ĐỐI KHÔNG được lấy các con số thống kê từ các câu trả lời cũ trong lịch sử trò chuyện để trả lời cho câu hỏi mới."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -864,
        -112
      ],
      "id": "b81a7083-827c-48c1-9b7f-e97131b009bf",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "description": "Sử dụng công cụ này KHI VÀ CHỈ KHI người dùng có ý định rõ ràng muốn ghi lại một khoản thu nhập hoặc chi tiêu mới. BẮT BUỘC phải có đủ 2 yếu tố trong tin nhắn: SỐ TIỀN cụ thể và MỤC ĐÍCH rõ ràng (VD: \"ăn sáng 30k\", \"nhận lương 20 triệu\"). NẾU THIẾU SỐ TIỀN, TUYỆT ĐỐI KHÔNG GỌI CÔNG CỤ NÀY, hãy chủ động hỏi lại người dùng. Truyền vào isExpense là Boolean (true/false).",
        "workflowId": {
          "__rl": true,
          "value": "PB7LOLfN6CDlNfNm",
          "mode": "list",
          "cachedResultUrl": "/workflow/PB7LOLfN6CDlNfNm",
          "cachedResultName": "Tool_GhiChep"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "isExpense": "={{ $fromAI('isExpense') }}",
            "amount": "={{ $fromAI('amount') }}",
            "user_id": "={{ $json.body.user_id }}",
            "categoryName": "={{ $fromAI('categoryName') }}",
            "note": "={{ $fromAI('note') }}",
            "replyMessage": "={{ $fromAI('replyMessage') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "isExpense",
              "displayName": "isExpense",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "categoryName",
              "displayName": "categoryName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "replyMessage",
              "displayName": "replyMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -656,
        112
      ],
      "id": "9bf768b8-d92c-447c-b5be-3158b8c30c57",
      "name": "Ghi_Chep_Thu_Chi"
    },
    {
      "parameters": {
        "description": "Sử dụng công cụ này KHI VÀ CHỈ KHI người dùng yêu cầu xem báo cáo, thống kê, tính tổng thu/chi, hỏi về số dư, xem lại lịch sử giao dịch, hoặc yêu cầu lời khuyên dựa trên thói quen chi tiêu trong quá khứ. ĐỪNG gọi công cụ này nếu người dùng chỉ chào hỏi, nói chuyện phiếm, hoặc than vãn chung chung mà không liên quan đến việc kiểm tra số liệu cụ thể.",
        "workflowId": {
          "__rl": true,
          "value": "5L7thAd3x4e568D8",
          "mode": "list",
          "cachedResultUrl": "/workflow/5L7thAd3x4e568D8",
          "cachedResultName": "Tool_PhanTich"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.body.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -512,
        112
      ],
      "id": "f1c6296e-13a5-4a33-8cfa-f8d75fb8042d",
      "name": "Phan_Tich_Tai_Chinh"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"replyMessage\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -512,
        -112
      ],
      "id": "b3b16fef-3b87-41af-82bc-cc64cfa4875b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user_id }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -832,
        112
      ],
      "id": "0ba7c8eb-7518-4244-8c93-189864fd137e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1008,
        112
      ],
      "id": "52c22ac0-4f9e-4282-961b-44b12691d561",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eFQeN11UF8ztS5Wr",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Kiểm tra xem payload gửi lên có chứa hình ảnh không\n  if (item.json.body && item.json.body.image_base64) {\n    // Tạo một tệp nhị phân (binary) tên là 'data' từ chuỗi base64\n    item.binary = {\n      data: {\n        data: item.json.body.image_base64,\n        mimeType: 'image/jpeg',\n        fileName: 'bill.jpg'\n      }\n    };\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        -128
      ],
      "id": "0d5e4176-3e9a-48ed-81f5-9cb4b678e1e1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "540394d0-77cb-4446-9bf1-224c3a01c0dd",
              "leftValue": "={{ $('Webhook').item.json.body.image_base64 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1424,
        -128
      ],
      "id": "f55aa214-650b-4492-ba1d-a1c340263bdb",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Trích xuất tất cả thông tin từ hóa đơn này: Tên quán, các món, và Tổng tiền thanh toán.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1248,
        -288
      ],
      "id": "d5413662-6aee-4639-a4f8-606ee9916367",
      "name": "Analyze an image",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "eFQeN11UF8ztS5Wr",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c90d8a1d-55dd-4b83-9c6e-a61164506a04",
              "name": "body.message",
              "value": "={{ $('Webhook').item.json.body.message }}. Đây là dữ liệu OCR từ hình ảnh hóa đơn: {{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "4585a28d-fab1-4aab-875f-3dc3a3155bee",
              "name": "body.user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "ded65d5c-9a52-41e8-b8fa-c59341b1e0eb",
              "name": "body.current_date",
              "value": "={{ $('Webhook').item.json.body.current_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        -288
      ],
      "id": "69159788-2ba6-47a8-90a3-c6920f2179bd",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ghi_Chep_Thu_Chi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Phan_Tich_Tai_Chinh": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "01d970a4-fc2e-49fa-8c45-01d3f7d9c6ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57cff41fcd42a452a4a9eaa9b15d02066c2fe92dbf30cb56f03ed8d97c0911a4"
  },
  "id": "PZb5ESO8gO1GziTL",
  "tags": []
}